datadir="/var/lib/proxysql"

admin_variables=
{
    # "admin:admin" is the default admin user; "radmin:radmin" is used by proxyweb
    admin_credentials="admin:admin;radmin:radmin"
    mysql_ifaces="0.0.0.0:6032"
    refresh_interval=2000
}

mysql_variables=
{
    threads=4
    max_connections=2048
    interfaces="0.0.0.0:6033"
    default_schema="information_schema"
    stacksize=1048576
    server_version="8.0.0"
}

pgsql_variables=
{
    threads=4
    max_connections=2048
    interfaces="0.0.0.0:6090"
    default_schema="testdb_pg"
    stacksize=1048576
    server_version="16.0"
    connect_timeout_server=3000
    monitor_enabled=false
    ping_interval_server_msec=120000
    ping_timeout_server=500
}

pgsql_servers=
(
    {
        address="postgres"
        port=5432
        hostgroup=10
        status="ONLINE"
        weight=1
        compression=0
        max_connections=200
    },
    {
        address="postgres2"
        port=5432
        hostgroup=10
        status="ONLINE"
        weight=1
        compression=0
        max_connections=200
    }
)

pgsql_users=
(
    {
        username="pguser"
        password="pgpass"
        default_hostgroup=10
        max_connections=200
        active=1
    }
)

mysql_servers=
(
)

mysql_users=
(
)

mysql_query_rules=
(
)

scheduler=
(
)

proxysql_servers=
(
)
